* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

img {
  width: 100vw;
  height: 100vh;
  opacity: 0.8;
}

#container {
  position: fixed;
  top: 20%;
  left: 33%;
  right: 33%;
  z-index: 1;
}

.hidden {
  display: none;
}
