* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

img {
  width: 100vw;
  height: 100vh;
  opacity: 0.8;
}

#container {
  position: fixed;
  top: 20%;
  left: 33%;
  right: 33%;
  z-index: 1;
}

.hidden {
  display: none;
}

#clock,
#greeting {
  text-align: center;
  color: bisque;
}

#clock {
  font-size: 55px;
  margin-bottom: 20px;
}

#login-form {
  margin-top: 50px;
}

#todo-form {
  margin-top: 15px;
}

#weather {
  text-align: center;
  margin-bottom: 10px;
}

#quote {
  margin-top: 120px;
  text-align: center;
}

.inputlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  border-radius: 10px;
  border: none;
  height: 30px;
  background-color: bisque;
}

input:focus {
  outline: none;
}

button {
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  height: 25px;
  background-color: black;
  color: bisque;
}
